/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark gray text */
    padding: 20px;
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #333; /* Dark gray */
}

/* Main section styles */
main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

/* Section styles */
section {
    margin-bottom: 30px;
}

/* Form styles */
form {
    display: flex;
    margin-top: 10px;
}

form input[type="text"],
form input[type="number"] {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue button */
    color: #fff; /* White text */
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* List styles */
ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9; /* Light gray background for list items */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }

    form {
        flex-direction: column;
    }

    form input[type="text"],
    form input[type="number"],
    form button {
        width: 100%;
        margin-right: 0;
    }
}
